@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');
/*импорт заменить на скачанные шрифты*/

:root {
  --bg_color: #fff;
  --color: #000;
  --border_color: #000;
  --footer_color: #e9eaeB;
}

.dark-mode {
  --bg_color: #282C35;
  --color: #fff;
  --border_color: #fff;
  --footer_color: #1a1a1a;
}

#application, #feedback-form {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--bg_color);
  color: var(--color);
  transition: background-color 0.5s;
}

.card-container {
  border: 1px solid var(--border_color);
}

#footer {
  background-color: var(--footer_color);
  color: var(--color);
  transition: background-color 0.5s;
}

a:hover {
  text-decoration: none;
}

.developer-image {
  border: 3px solid white;
}

@media screen and (max-width: 431px){
  .discipline-title, .theme-title {
    font-size: 20px;
  }
}

/* page-animations */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.in-development {
  height: 35vh;
  display: grid;
  place-items: center;
  font-size: 30px;
}
