@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

:root {
  --bg_color: #fff;
  --color: #000;
  --border_color: #000;
  --footer_color: #e9eaeB;
}

.dark-mode {
  --bg_color: #282C35;
  --color: #fff;
  --border_color: #fff;
  --footer_color: #1a1a1a;
}

#application, #feedback-form {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--bg_color);
  color: var(--color);
  transition: background-color 0.5s;
}

.card-container {
  border: 1px solid var(--border_color);
}

#footer {
  background-color: var(--footer_color);
  color: var(--color);
  transition: background-color 0.5s;
}

a:hover {
  text-decoration: none;
}

button:hover {
  outline: none;
}
